body {
  background-color: #364256;
  text-align: center;
}

h1 {
  color: #f7f2f2;
  text-align: center;
}

p {
  color: #f7f2f2;
}

.login-form {
  border: 5px solid #f7f2f2;
  width: 50%;
  min-width: 178px;
  max-width: 360;
  display: inline-block;
}

.login-form * {
  display: block;
  margin: 20px auto;
}

.login-form > input {
  font-size: 2em;
  text-align: center;
}

.login-form > button {
  font-size: 1.6em;
}
