<body>
  <div class='reveal'>
    <div class='slides'>
      <section>Slide 1</section>
      <section>Slide 2</section>
      <section data-is-poll>
        <p>What is your favorite animal?</p>
        <ol class="alphaList">
          <li>Sloth</li>
          <li>Panda</li>
          <li>Frog</li>
          <li>Other</li>
        </ol>
      </section>
    </div>
    <p id='socket-status'></p>
  </div>
</body>
<link rel='stylesheet' href='css/reveal.css'>
<link rel="stylesheet" href="css/theme/night.css">
<link rel="stylesheet" href="custom.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src='js/reveal.js'></script>
<script>
  Reveal.initialize();
  let socket = io.connect('http://localhost:5000');
  socket.on('connect', function() {
    console.log('Connected to socket');
    socketStatus = document.getElementById('socket-status');
    socketStatus.innerHTML = 'Connected to socket';
  });
  Reveal.addEventListener('slidechanged', (e) => {
    if (e.currentSlide.dataset.isPoll !== undefined) {
      prompt = e.currentSlide.getElementsByTagName('p')[0].innerText;
      answers = [...e.currentSlide
                     .getElementsByTagName('ol')[0].children]
                .map((item) => { return item.innerText });
      socket.emit('show question', {
        'prompt': prompt,
        'answers': answers
      });
    }
  });
</script>
